
@model FullConversation

@{
    // index Conversation
    ViewBag.Title = "";
    Layout = null;
    string FullName = " ";// Model.ClientFullName;
}





<script type="text/javascript" language="javascript">










    function GetConversationList() {

        $.post(
                '/../Conversation/Edit',
                $("#updateForm").serialize(),
                function (data) {
                    $("#ConversationDiv").show();
                    $("#ConversationFollowUpDiv").hide();

                    $("#ConversationDiv").html('');
                    $("#ConversationDiv").html(data);


                })

            }

            function SetFilter() {

                var table2_Props = {
                    col_0: "none",
                    col_1: "none",
                    col_2: "select",
                    col_3: "select",
                    col_4: "select",
                    col_5: "none",
                    col_6: "none",
                    display_all_text: " [ בחר הכל ] ",
                    sort_select: true
                };
                setFilterGrid("CreateConversationTable", table2_Props);

            }


            $(document).ready(function () {
             //   $("#CreateConversationTable").colResizable();

      //  setFilterGrid("CreateConversationTable");

//        var table2_Props = {
//            col_0: "none",
//            col_1: "none",
//            col_2: "select",
//            col_3: "select",
//            col_4: "select",
//            col_5: "none",
//            col_6: "none",
//            display_all_text: " [ בחר הכל ] ",
//            sort_select: true
//        };
//        setFilterGrid("CreateConversationTable", table2_Props);



});
</script>






@if (Model.ClientSerial != null)
{
    <p>
        <a onclick="GetDataToColorbobByParams({clientSerial:@Model.ClientSerial,meetingSerial:0},'/Conversation/CreateNew', setColorBox)" href="javascript:;">שיחה חדשה </a>
        @*    @Html.ActionLink("שיחה חדשה", "CreateNew", "Conversation", new { clientSerial = Model.ClientSerial, meetingSerial = 0 }, new { @class = "editClient" }) *@
        @*  @Html.ActionLink("שיחה חדשה", "Create", "Conversation", new { clientSerial = Model.ClientSerial, meetingSerial = 0 }, new { onclick = "return ShowEdit(this);" }) *@

        &nbsp
        <a onclick="GetDataToColorbobByParams({typeSearch:1,id:@Model.ClientSerial},'/Conversation/ConversationsWithFollowup', setColorBox)" href="javascript:;">שיחות כולל מעקב </a>

        @* @Html.ActionLink("שיחות כולל מעקב", "ConversationsWithFollowupToExcel", "Conversation", new { id = Model.ClientSerial }, null)*@
        &nbsp
        @Html.ActionLink("שלח לאקסל", "GetConversationsWithFollowupCsv", "Conversation", new { id = Model.ClientSerial, fullName = FullName }, null)
        &nbsp
        <a href="#" onclick="PrintContent('printConversations')"> הדפס</a>
        &nbsp


        @* @Ajax.ActionLink("פילטר", "ConversationListFiltered", "Conversation",
            new { id = Model.ClientSerial },
             new AjaxOptions()
             {
                 HttpMethod = "Get",
                 UpdateTargetId = "printConversations",
                 OnSuccess = "OpenConversationDiv"
             })*@

    </p>
}


<div id="printConversations">
    @Html.Partial("~/Views/Conversation/ConversationList.cshtml", Model.ConversationWithParamList)
   
</div>
@*</div>*@
